

@font-face {
    font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-family: "DrukCyr";
  src: local("DrukCyr-medium");
  src: url("../fonts/DrukCyr-medium.woff2") format("woff2");
  src: url("../fonts/DrukCyr-medium.woff") format("woff");
  src: url("../fonts/DrukCyr-medium.ttf") format("truetype");
}

@font-face {
    font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-family: "DAMN";
  src: local("DAMN");
  src: url("../fonts/DAMN.woff2") format("woff2");
  src: url("../fonts/DAMN.woff") format("woff");
  src: url("../fonts/DAMN.ttf") format("truetype");
}

@font-face {
    font-style: medium;
  font-weight: 400;
  font-display: swap;
  font-family: "helvetica";
  src: local("helvetica-regular");
  src: url("../fonts/helvetica-regular.woff2") format("woff2");
  src: url("../fonts/helvetica-regular.woff") format("woff");
  src: url("../fonts/helvetica-regular.ttf") format("truetype");
}

@font-face {
    font-style: bold;
  font-weight: 700;
  font-display: swap;
  font-family: "helvetica";
  src: local("helvetica-bold");
  src: url("../fonts/helvetica-bold.woff2") format("woff2");
  src: url("../fonts/helvetica-bold.woff") format("woff");
  src: url("../fonts/helvetica-bold.ttf") format("truetype");
}

@font-face {
    font-style: normal;
  font-weight: 100;
  font-display: swap;
  font-family: "helvetica";
  src: local("helvetica-light");
  src: url("../fonts/helvetica-light.woff2") format("woff2");
  src: url("../fonts/helvetica-light.woff") format("woff");
  src: url("../fonts/helvetica-light.ttf") format("truetype");
}

::-webkit-scrollbar-track {
    background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: rgb(255, 232, 178);
    height: 7rem;
}

::-webkit-scrollbar-thumb:active {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 207, 95)), color-stop(50%, rgb(255, 232, 178)), to(rgb(255, 195, 56)));
    background-image: linear-gradient(0deg, rgb(255, 207, 95) 0%, rgb(255, 232, 178) 50%, rgb(255, 195, 56) 100%);
    border: 0.1rem solid rgb(255, 232, 178);
}

::-webkit-scrollbar {
    width: 0.6rem;
    background-color: rgb(255, 232, 178);
}


body {
    font: 100 16px/1.5 Helvetica;
    color: #fff;
    background: #1b1b1b;
    overflow-x: hidden;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

section {
    width: 100vw;
    max-width: 100rem;
    position: relative;
    background-position: center;
    overflow-x: clip;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 2rem;
    margin: 0 auto;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    max-width: 70rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
    z-index: 1;
    position: relative;
}

.text {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.text:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    -webkit-animation: scroll 5s linear infinite;
    animation: scroll 5s linear infinite;
}

.header {
    max-width: 100rem;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.122);
}

.bg-container picture {
    max-width: 100rem;
    width: 100vw;
    display: block;
    margin: 0 auto;
}

.bg {
    width: 99.9%;
    max-width: 100rem;
    z-index: -100;
    position: absolute;
    -webkit-filter: brightness(1.3);
    filter: brightness(1.3);
}

.header__menu {
    width: 61.5%;
    margin-top: -0.6rem;
    margin-right: 0.8rem;
}

.header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: 7rem;
    padding-top: 0.45rem;
}

.header__logo {
    font-size: 1.5rem;
    font-family: "DAMN";
    text-transform: uppercase;
    font-weight: 400;
}

li {
    position: relative;
}

li a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #fff;
    line-height: 1.5;
    opacity: 0.8;
    font-size: 0.98rem;
}

li a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
    opacity: 1;
}

li a:after {
    content: "";
    position: absolute;
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer {
    max-width: 100rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 2;
    padding: 2.5rem 0 4.5rem;
    font-weight: 100;
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, 0.459);
}

.footer a {
    color: #fff;
    opacity: 1;
    font-size: 1.125rem;
    text-decoration: underline;
}

.footer a:visited {
    color: #fff;
}

.footer__link:hover {
    text-decoration: none;
}

.footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
}

.footer__to-top {
    line-height: 3.562;
}

.highlight {
    font-weight: bold;
    font-size: 1.01rem;
}

.promo {
    padding: 2rem 0 2.8rem;
}

.promo .promo__title {
    text-align: start;
}

.light {
    position: absolute;
}

.light-left {
    z-index: 20;
    left: 0;
}

.light-right {
    z-index: 20;
    right: 0;
}

.decor-txt {
    position: absolute;
    width: 100%;
    font-size: 16vw;
    font-family: "DAMN";
    text-transform: uppercase;
    left: 0;
    line-height: 1;
    text-wrap: nowrap;
    opacity: 0.04;
    overflow: hidden;
}

.justify-start {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: start !important;
    padding-left: 2rem;
}

.promo__bg {
    margin-top: -15rem;
}

.promo__check {
    position: absolute;
    z-index: -1;
}

.promo__checks-container picture:nth-child(1) img {
    left: 160%;
    width: 62%;
    top: 65%;
}

.promo__checks-container picture:nth-child(2) img {
    width: 71%;
    top: 38%;
    left: 10%;
}

.promo__checks-container picture:nth-child(3) img {
    left: 140%;
    width: 97%;
    top: 6%;
}

.promo__decor-txt {
    top: 14vw;
}

.promo__light-center {
    width: 300%;
    left: -90%;
    top: 28%;
}

.promo__check-txt {
    font-weight: 400;
    font-size: min(1.2vw, 1.15rem);
}

.promo__check-title {
    font-size: min(1.15vw, 1.1rem);
}

.promo__check-info {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    background: linear-gradient(33deg, rgb(44, 44, 44) 0%, rgba(61, 61, 61, 0.9) 100%);
    border-radius: 0.75rem;
    line-height: 1.2;
    text-wrap: nowrap;
    bottom: 27.5%;
    left: 23.2%;
    padding: 5.5% 12%;
    font-size: 1vw;
    z-index: 2;
}

.promo__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 2rem;
    padding: 0.5rem 2rem 0 2rem;
}

.promo__button-txt {
    line-height: 1;
}

.promo__button picture {
    width: 1.5rem;
    height: 1.5rem;
}

.promo__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3.1rem;
    max-width: 41.1rem;
    padding-top: 5rem;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.promo__top-title-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
}

.promo__top-title-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 20rem;
    gap: 1rem;
    font-size: 0.95rem;
}

.promo__top-title-img {
    width: 3rem;
    height: 3rem;
}

.promo__top-title-txt {
    text-wrap: nowrap;
}

.promo__top-title-txt span:not(.highlight) {
    font-weight: 400;
    opacity: 0.9;
}

.promo__title {
    font-size: 5.35rem;
    font-family: "DAMN";
    text-transform: uppercase;
    line-height: 1.035;
    font-weight: 400;
}

.promo__sub-title {
    margin-top: -2.6rem;
    font-size: 1.25rem;
    font-weight: 100;
    opacity: 0.9;
    max-width: 31rem;
}

.promo__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    z-index: 50;
}

.promo__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1rem;
    color: rgb(1, 1, 1);
    font-weight: bold;
    line-height: 2.931;
    text-align: center;
    border-radius: 0.35rem;
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 218, 131)), color-stop(50%, rgb(255, 232, 178)), to(rgb(255, 218, 131)));
    background: linear-gradient(0deg, rgb(255, 218, 131) 0%, rgb(255, 232, 178) 50%, rgb(255, 218, 131) 100%);
    -webkit-box-shadow: 0 5rem 0 0 rgba(218, 172, 106, 0.004);
    box-shadow: 0 5rem 0 0 rgba(218, 172, 106, 0.004);
    width: 16.8rem !important;
    height: 4.5rem;
    gap: 1.2rem;
    z-index: 50;
}

.promo__buttons form:nth-child(2) button {
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(122, 184, 194)), color-stop(50%, rgb(185, 209, 213)), to(rgb(122, 184, 194)));
    background: linear-gradient(0deg, rgb(122, 184, 194) 0%, rgb(185, 209, 213) 50%, rgb(122, 184, 194) 100%);
}

.promo__buttons form:nth-child(2) button:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(72, 189, 207)), color-stop(50%, rgb(118, 157, 165)), to(rgb(61, 176, 194)));
    background: linear-gradient(0deg, rgb(72, 189, 207) 0%, rgb(118, 157, 165) 50%, rgb(61, 176, 194) 100%);
}

.promo__button-img {
    width: 1rem;
    height: 1.5rem;
}

.promo__main-img {
    width: 115.5%;
    position: relative;
    margin-left: -3rem;
    top: -1rem;
    z-index: 2;
}

.promo__checks {
    position: relative;
    left: -2rem;
}

.promo__checks-container {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.section-header__title {
    font-size: 5.1rem;
    font-family: "DAMN";
    text-transform: uppercase;
    line-height: 1.06;
    font-weight: 400;
}

.section-header__subtitle {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    line-height: 1.25;
    font-weight: 100;
}

.exchanges__bg-container {
    top: -9rem;
}

.exchanges__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: -0.3rem;
    margin-right: 6.1rem;
}

.exchanges__arrows img:nth-child(1) {
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.exchanges__arrows img:nth-child(2) {
    width: 6.3rem;
}

.exchanges__arrows img:nth-child(3) {
    width: 6.6rem;
}

.exchanges__arrows img:nth-child(4) {
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.exchanges__arrows img {
    width: 9rem;
    height: 1rem;
}

.exchanges__subtitle {
    font-size: 1.5rem;
    line-height: 1;
}

.exchanges__imgs {
    position: relative;
    height: 37.5rem;
    width: 27.5rem;
    -ms-flex-item-align: center;
    align-self: center;
    left: -1.6rem;
    top: 1.1rem;
}

.exchanges__img {
    position: absolute;
}

.exchanges__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 4rem;
    max-width: 68.8rem;
}

.exchanges__txt {
    left: 1.5em;
    top: 2.9em;
    position: absolute;
    font-size: 5.05em;
    font-family: "DAMN";
    text-transform: uppercase;
    line-height: 1.08;
    font-weight: 400;
    white-space: nowrap;
}

.exchanges__imgs picture:nth-child(1) img {
    left: 3.5em;
    width: 7.5em;
    height: 5em;
    opacity: 0.3;
    top: 0.3em;
}

.exchanges__imgs picture:nth-child(2) img {
    top: 4em;
    left: 14.5em;
    width: 4.2em;
    height: 4.2em;
    opacity: 0.5;
}

.exchanges__imgs picture:nth-child(3) img {
    top: 9.3em;
    left: 1em;
    width: 12em;
    height: 4em;
    opacity: 0.5;
}

.exchanges__imgs picture:nth-child(4) img {
    top: 8.3em;
    left: 21.3em;
    width: 4.5em;
    height: 4.5em;
}

.exchanges__imgs picture:nth-child(5) img {
    top: 22.4em;
    left: 4.5em;
    width: 15.3em;
    height: 4em;
    opacity: 0.7;
}

.exchanges__imgs picture:nth-child(6) img {
    top: 29.5em;
    left: 4.1em;
    width: 6.1em;
    height: 6.1em;
    opacity: 0.5;
}

.exchanges__imgs picture:nth-child(7) img {
    top: 28.5em;
    left: 14.5em;
    width: 11.6em;
    height: 4em;
    opacity: 0.6;
}

.exchanges__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.3rem;
}

.exchanges-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.3rem;
    padding: 2.5rem;
    background: linear-gradient(33deg, rgb(44, 44, 44) 0%, rgba(61, 61, 61, 0.95) 100%);
    border-radius: 1.25rem;
    padding-bottom: 2.2rem;
}

.exchanges-card:nth-child(3) {
    padding: 2.8rem 2.5rem;
}

.exchanges-card:nth-child(4) {
    padding: 2.2rem 2.5rem;
}

.exchanges-card__title {
    font-size: 2.5rem;
    font-family: "DAMN";
    text-transform: uppercase;
    line-height: 1.08;
    color: rgb(255, 232, 178);
    font-weight: 400;
}

.exchanges-card__txt {
    font-size: 1.125rem;
    line-height: 1.5;
}

.main__installment {
    padding: 8rem 0 6.5rem;
}

.installment__decor {
    max-width: 90vw;
    position: absolute;
}

.installment__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.installment__banks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1.9rem;
    margin-top: 1rem;
}

.installment__bank {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.installment__descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
    max-width: min(50%, 34rem);
}

.installment__subtxt {
    padding-top: 0.9rem;
    font-size: 1.12rem;
}

.installment__txt {
    font-size: 1.125rem;
    opacity: 0.9;
    padding-top: 0.7rem;
}

.installment__title {
    margin-bottom: -1rem;
    opacity: 0.9;
    text-align: left !important;
    line-height: 1.01 !important;
}

.installment__button {
    margin-top: 2.7rem;
}

.installment__banks picture:nth-child(2) img {
    height: 5.5rem;
}

.installment__banks picture:nth-child(3) img {
    height: 5rem;
}

.installment__banks picture:nth-child(4) img {
    height: 5rem;
    max-width: 80%;
    -webkit-transform: translate(14%, 0%);
    -ms-transform: translate(14%, 0%);
    transform: translate(14%, 0%);
}

.installment__banks picture:nth-child(5) img {
    height: 5.5rem;
}

.installment__subtxt .highlight {
    font-size: 1.12rem;
}

.title {
    font-size: 5.1rem;
    font-family: "DAMN";
    text-transform: uppercase;
    line-height: 1.08;
    font-weight: 400;
    text-align: center;
    margin-right: 0.8rem;
}

button:not(.scroll-button) {
    font-weight: bold;
    border-radius: 0.3rem;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 218, 131)), color-stop(50%, rgb(255, 232, 178)), to(rgb(255, 218, 131)));
    background-image: linear-gradient(0deg, rgb(255, 218, 131) 0%, rgb(255, 232, 178) 50%, rgb(255, 218, 131) 100%);
    -webkit-box-shadow: 0 0.5rem 0 0 rgba(218, 172, 106, 0.004);
    box-shadow: 0 0.5rem 0 0 rgba(218, 172, 106, 0.004);
}

button:hover:not(.scroll-button) {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 207, 95)), color-stop(50%, rgb(255, 232, 178)), to(rgb(255, 195, 56)));
    background-image: linear-gradient(0deg, rgb(255, 207, 95) 0%, rgb(255, 232, 178) 50%, rgb(255, 195, 56) 100%);
}

.golden-highlight {
    color: rgb(255, 232, 178);
}

.tariffs {
    margin-top: -1.8rem;
    padding-top: 1rem;
}

.tariffs__container {
    max-width: 57rem;
    gap: 2.4rem;
}

.tariffs__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    width: 100%;
}

.tariff {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 1.25rem;
    background: rgb(50, 50, 50);
    font-weight: 400;
    position: relative;
}

.tariff__light-center {
    z-index: -1;
    width: 200%;
}

.tariff__title {
    text-align: center;
    width: 100%;
    padding: 3rem 1rem 1.7rem;
    border-bottom: 1px solid rgb(255, 232, 178);
    font-size: 2.9rem;
    font-family: "DAMN";
    text-transform: uppercase;
    line-height: 1;
    margin-right: 0.7rem;
}

.tariff__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 39.3rem;
    padding: 1rem;
}

.tariff__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 19rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1.41rem;
    padding: 0.9rem 0;
    opacity: 0.9;
}

.tariff__list-item {
    text-align: center;
    line-height: 1.2;
    font-size: 1.09rem;
}

.tariff__price {
    font-weight: 400;
    margin-bottom: 0.8rem;
}

.tariff__new-price {
    font-size: 5.5rem;
    font-family: "DAMN";
    color: rgb(55, 55, 55);
    line-height: 1;
    text-align: center;
}

.tariff__old-price {
    font-size: 4.25rem;
    font-family: "DAMN";
    color: rgb(172, 172, 172);
    line-height: 1;
    -webkit-text-decoration: line-through 2px;
    text-decoration: line-through 2px;
    text-align: center;
}

.tariff__button {
    margin-bottom: 3.2rem;
}

.tariff-white {
    background: #fff;
}

.tariff-white .tariff__light-center {
    left: -55%;
    top: -25%;
}

.tariff:nth-child(1) .tariff__light-center {
    left: -47%;
    bottom: -27%;
}

.tariff-white .tariff__title {
    color: rgb(24, 24, 24);
    border-bottom: 1px solid rgb(55, 55, 55);
}

.tariff-white .tariff__list-item {
    color: rgb(29, 29, 29);
}

.tariff:nth-child(1) .tariff__new-price {
    color: rgb(255, 232, 178);
}

.tariff:nth-child(1) .tariff__list-item {
    opacity: 0.9;
}

.reviews__container {
    gap: 2.4rem;
}

.reviews__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    row-gap: 1.25rem;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
}

.reviews__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
}

.reviews__img {
    max-width: 100%;
    height: auto;
}

.programm {
    padding: 5rem 0;
}

.programm__container {
    max-width: 90rem;
}

.programm__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding: 0;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.programm__cards {
    position: relative;
}

.programm__scroll {
    margin-top: 1rem;
}

.programm-card {
    padding: 3.9rem 4rem 3.4rem 3.9rem;
    border-radius: 1.25rem;
    background: linear-gradient(33deg, rgb(44, 44, 44) 0%, rgb(57, 57, 57) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.3rem;
    font-weight: 100;
    max-width: 69.4rem;
}

.programm-card__title {
    font-size: 2.6rem;
    color: #fff;
    line-height: 1;
    text-transform: uppercase;
    font-family: "DAMN";
    font-weight: 400;
    border-bottom: 1px solid rgba(255, 232, 178, 0.361);
    padding-bottom: 1.2rem;
}

.programm-card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.9rem;
    opacity: 0.9;
    padding-left: 0.5rem;
}

.programm-card__list summary {
    cursor: pointer;
}

.programm-card__txt {
    padding: 1.4rem 1.7rem;
    background: rgb(115, 115, 115);
    border-radius: 0.5rem;
    font-style: italic;
    margin-top: 0.7rem;
    font-size: 1.125rem;
}

.versatility {
    padding: 6.3rem 0;
}

.versatility__container {
    max-width: 65rem;
}

.versatility__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.versatility__body picture:nth-child(2) {
    margin-top: 2.5rem;
    justify-self: center;
}

.versatility__body picture:nth-child(3) {
    justify-self: end;
}

.versatility-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
    max-width: 18rem;
}

.versatility-card:nth-child(2) picture {
    margin-top: 2.5rem;
    justify-self: center;
}

.versatility-card picture {
    width: 80%;
}

.versatility-card__txt .highlight {
    font-size: 1.25rem;
}

.versatility-card__img {
    width: 100%;
}

.versatility-card__txt {
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
    line-height: 1.354;
    text-align: center;
}

.opacity {
    opacity: 0.9;
}

.presentation {
    margin-top: -0.2rem;
    margin-bottom: -1.9rem;
}

.presentation__light-left {
    bottom: 15%;
}

.presentation__light-center {
    position: absolute;
    width: 170%;
    top: -6%;
}

.presentation__money {
    position: absolute;
    width: 135%;
    -webkit-transform: translate(-50%, -115%);
    -ms-transform: translate(-50%, -115%);
    transform: translate(-50%, -115%);
}

.presentation__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    max-width: 64.5rem;
}

.presentation__block {
    margin-bottom: 1.9rem;
    margin-right: 5.5rem;
}

.presentation__main-img {
    height: 47.1rem;
    width: 29.4rem;
    z-index: 5;
    position: relative;
    left: -2rem;
}

.presentation__img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.presentation__txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
    margin-right: 0.6rem;
}

.presentation__title {
    text-align: left;
    line-height: 0.9;
}

.presentation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2.3rem;
    max-width: 31rem;
}

.presentation__list-item {
    font-size: 1.25rem;
    color: #fff;
    line-height: 1.3;
    font-weight: 100;
    opacity: 0.9;
}

.block {
    z-index: 10;
    position: absolute;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.2;
    width: 23rem;
    padding: 1.5rem 1.4rem;
    background: linear-gradient(33deg, rgb(25, 25, 25) 0%, rgba(61, 61, 61, 0.95) 100%);
    border-radius: 0.5rem;
}

.block__txt {
    font-size: 1.125rem;
    margin-left: 0.6rem;
}

.block__txt-container {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.4rem;
    -webkit-transform: matrix(1, 0, -0.1, 1, 0, 0);
    -ms-transform: matrix(1, 0, -0.1, 1, 0, 0);
    transform: matrix(1, 0, -0.1, 1, 0, 0);
    opacity: 0.9;
    font-size: 1.1rem;
}

.types {
    padding: 6.5rem 0 4.7rem;
}

.types__container {
    gap: 2.4rem;
}

.types__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
}

.types__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.types__money {
    position: absolute;
    -webkit-transform: translate(4%, 5%);
    -ms-transform: translate(4%, 5%);
    transform: translate(4%, 5%);
    width: 90%;
}

.types-card:nth-child(2) .types-card__descr {
    padding-bottom: 3.6rem;
    gap: 1.8rem;
}

.types-card:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.types-card:nth-child(2) picture {
    -ms-flex-item-align: start;
    align-self: start;
    margin-top: 1.5rem;
}

.types-card:nth-child(1) .types-card__light-center {
    left: -10%;
    top: -45%;
}

.types-card:nth-child(2) .types-card__light-center {
    left: -47%;
    top: -20%;
}

.types-card__light-center {
    position: absolute;
    z-index: -1;
}

.types-card__button {
    -webkit-transform: translate(-0.4rem, -33.3%);
    -ms-transform: translate(-0.4rem, -33.3%);
    transform: translate(-0.4rem, -33.3%);
    position: absolute;
}

.types-card__descr-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
}

.types-card__descr-container form {
    -webkit-transform: translate(-0.4rem, -33.3%);
    -ms-transform: translate(-0.4rem, -33.3%);
    transform: translate(-0.4rem, -33.3%);
}

.types-card__descr {
    background: #fff;
    border-radius: 1.25rem;
    -webkit-box-shadow: 0 0 4rem 0 rgba(30, 30, 30, 0.13);
    box-shadow: 0 0 4rem 0 rgba(30, 30, 30, 0.13);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.8rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.7rem 1rem 2.5rem 2rem;
    width: 25rem;
    overflow: hidden;
}

.types-card__img {
    width: 32.5rem;
    height: 22rem;
}

.types-card__list {
    color: rgb(28, 28, 28);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.9rem;
    text-wrap: nowrap;
}

.types-card__title {
    font-size: 2.44rem;
    font-family: "DrukCyr";
    color: rgb(31, 31, 31);
    text-transform: uppercase;
    line-height: 0.99;
    max-width: 17rem;
}

.types-card__footer-button {
    font-size: 1rem;
}

.types-card__list-decor {
    width: 1.3rem;
    height: 1.3rem;
}

.types-card__list-item {
    height: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    line-height: 1;
    font-size: 0.92rem;
}

.scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.1rem;
}

.scroll:hover {
    cursor: pointer;
}

.scroll-point:first-child {
    background-color: rgb(255, 232, 178);
}

.scroll-point {
    border-radius: 50%;
    background-color: #fff;
    width: 0.75rem;
    height: 0.75rem;
}

.scroll-arrow {
    height: 2.25rem;
    width: 1rem;
}

.progress__title {
    margin-top: -4rem;
}

.progress__container {
    max-width: 100rem;
    gap: 3rem;
}

.progress__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
}

.progress__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    gap: 4.5rem;
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(44, 44, 44)), to(rgba(57, 57, 57, 0.95)));
    background: linear-gradient(0deg, rgb(44, 44, 44) 0%, rgba(57, 57, 57, 0.95) 100%);
    width: 100%;
    padding: 6.3% 9.9% 6% 6%;
    border-radius: 1.25rem;
}

.progress__scroll {
    margin-top: -0.6rem;
}

.scroll-button {
    background: transparent;
}

#rotate {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.progress-card__img {
    margin-left: -1.9rem;
    width: 13.5rem;
}

.progress-card__txt {
    font-size: 1.12rem;
    color: #fff;
    line-height: 1.556;
    opacity: 0.9;
    font-weight: 100;
    max-width: 50rem;
}

.progress-card__subtitles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3.3rem;
}

.progress-card__subtitle {
    text-transform: uppercase;
    font-size: 1.9rem;
    font-family: "DAMN";
    font-weight: 400;
    line-height: 1;
}

.progress-card__descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: -0.5rem;
    margin-left: -0.2rem;
}

.progress-card__title {
    font-size: 3rem;
    font-family: "DAMN";
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    font-weight: 400;
}

.system {
    padding: 6rem 0 11rem;
}

.system__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    row-gap: 3.5rem;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
}

.system__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 3.5rem;
    border-radius: 0.5rem;
}

.system__container {
    gap: 4.5rem;
    font-size: 1.5rem;
    line-height: 1.25;
    text-align: center;
    font-weight: 100;
}

.system__subtitle {
    font-size: 1.5rem;
    line-height: 1.25;
}

.system-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.system-card__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3.3rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.system-card__number {
    min-width: 4rem;
    height: 4rem;
    padding: 1rem;
    border: 1px solid rgb(255, 232, 178);
    border-radius: 100%;
    font-family: "DAMN";
    font-weight: 400;
    font-size: 3rem;
    line-height: 0.8;
    color: rgb(255, 232, 178);
}

.system-card__txt {
    font-size: 1.125rem;
    font-family: "helvetica";
    color: rgb(255, 255, 255);
    line-height: 1.5;
    max-width: 26rem;
    text-align: start;
}

.system-card__footer-txt {
    margin-top: -0.4rem;
    max-width: 50rem;
    font-size: 1.5rem;
    line-height: 1.25;
}

.advantages {
    padding-top: 5.5rem;
}

.advantages__container {
    max-width: 70rem;
    gap: 5rem;
    position: relative;
}

.advantages__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    row-gap: 4.5rem;
    z-index: 10;
    padding: 0 1rem 0 2.2rem;
}

.advantages__money {
    position: absolute;
    width: 90vw;
    max-width: 90rem;
    -webkit-transform: translate(6%, 12%);
    -ms-transform: translate(6%, 12%);
    transform: translate(6%, 12%);
}

.advantages-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.2rem;
    padding: 2.5rem;
    padding-right: 0rem;
    background: linear-gradient(33deg, rgb(44, 44, 44) 0%, rgb(61, 61, 61) 100%);
    border-radius: 1.25rem;
    width: 24rem;
}

.advantages-card:not(:nth-child(even)) {
    margin-right: 2rem;
}

.advantages-card:nth-child(2) {
    margin-right: 2.5rem;
}

.advantages-card:nth-child(3) {
    margin-top: 0.8rem;
}

.advantages-card__light-center {
    width: 70%;
    left: 12rem;
    position: absolute;
    top: 20rem;
    z-index: -11;
}

.advantages-card__txt {
    max-width: 19rem;
    opacity: 0.95;
    font-size: 1.125rem;
    line-height: 1.5;
}

.advantages-card__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.advantages-card__title {
    font-size: 2.5rem;
    font-family: "DAMN";
    text-transform: uppercase;
    line-height: 0.95;
    max-width: 15rem;
}

.advantages-card__img {
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 0.5rem;
}

.advantages-card__main-img-container {
    z-index: 1;
}

.advantages-card__main-img-container picture {
    z-index: -10;
    position: absolute;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: -1rem;
    -webkit-transform: translate(0, 20%);
    -ms-transform: translate(0, 20%);
    transform: translate(0, 20%);
    left: 1rem;
    max-width: 55rem;
    height: 58rem;
}

.advantages-card__button {
    z-index: 100;
    position: relative;
}

.platform {
    margin-top: -3.6rem;
}

.platform__decor-txt {
    top: 23rem;
    z-index: 1;
}

.platform__body {
    gap: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-top: -6rem;
    z-index: 2;
}

.platform-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3.5rem;
    width: 100%;
}

.platform-card picture {
    -webkit-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%);
}

.platform-card__img {
    width: 26rem;
    height: 15rem;
    -o-object-fit: contain;
    object-fit: contain;
}

.platform-card__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8rem 4.5rem 2.5rem;
    background: linear-gradient(33deg, rgb(44, 44, 44) 0%, rgba(61, 61, 61, 0.95) 100%);
    border-radius: 1.25rem;
    width: 100%;
    max-width: 35rem;
}

.platform-card__txt {
    font-size: 1.125rem;
    text-align: center;
    line-height: 1.5;
}

.platform-card__title {
    color: rgb(255, 232, 178);
}

.objection__object {
    position: absolute;
    width: 34vw;
    bottom: 0;
    height: 22vw;
}

.answer__object {
    position: absolute;
    width: 50vw;
    bottom: 0;
    right: 0;
    height: 30vw;
}

.objection {
    overflow: hidden;
    padding-top: min(10vw, 6rem);
}

.answer {
    padding-top: min(10vw, 6.5rem);
}

.objection__container {
    max-width: 69rem;
}

.objection__card {
    width: 51em;
    right: -2em;
    top: -1em;
    margin-right: 1em;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 2rem;
}

.objection-card__container {
    height: 33em;
    left: -1em;
    -ms-flex-item-align: end;
    align-self: end;
    position: relative;
    font-size: min(1vw, 1rem);
}

.objection-card__objection-img {
    width: 30em;
}

.objection-card__objection-txt {
    position: absolute;
    top: 5em;
    max-width: 11.7em;
    left: 3em;
    max-height: 6em;
    overflow: hidden;
    font-size: 1.55em;
    z-index: 1;
    color: #1b1b1b;
    font-size: 1.55em;
    font-weight: 400;
    text-align: center;
}

.objection-card__img {
    width: 51em;
    right: -2em;
    top: -1em;
    margin-right: 1em;
    position: absolute;
}

.objection-card__img-container {
    left: -26em;
    position: relative;
}

.answer-card__answer-img {
    width: 44em;
}

.answer-card__img-container {
    left: 25em;
    top: -6em;
    position: relative;
}

.answer-card__container {
    height: 36em;
    -ms-flex-item-align: start;
    align-self: start;
    position: relative;
    font-size: min(1vw, 1rem);
}

.answer__card {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 2rem;
    position: relative;
    font-size: min(1vw, 1rem);
}

.answer-card__img {
    height: 36em;
    left: 2em;
    top: 0;
    position: absolute;
}

.answer-card__answer-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 4em;
    left: 6.5em;
    gap: 1em;
    overflow: hidden;
    z-index: 1;
    color: #1b1b1b;
    font-size: 1.55em;
    font-weight: 400;
    text-align: center;
}

.answer-card__answer-subtxt:nth-child(1) {
    max-height: 3em;
    max-width: 16.8em;
    overflow: hidden;
}

.answer-card__answer-subtxt:nth-child(2) {
    max-height: 6em;
    max-width: 19.4em;
    overflow: hidden;
}

@media screen and (min-width: 63rem) {
    .exchanges__body {
        display: grid;
        grid-template-columns: 0.83fr 7rem 1fr;
    }

    .types-card:nth-child(1) .types-card__img {
        border-radius: 1.25rem 0 0 1.25rem;
    }

    .types-card:nth-child(2) .types-card__img {
        border-radius: 0 1.25rem 1.25rem 0;
    }
}

@media screen and (min-width: 48rem) {
    .big-button {
        margin-right: 0.8rem;
        font-size: 1.5rem;
        width: 24.4rem;
        margin-top: -0.2rem;
        height: 7rem;
    }

    .default-button {
        font-size: 1.15rem;
        width: 19.5rem;
        height: 5.4rem;
    }
}

@media screen and (max-width: 63rem) {
    .types__body {
        gap: 0;
    }

    .platform-card:not(:first-child) {
        margin-top: -5rem;
    }

    .advantages-card:nth-child(2) {
        margin-right: 0;
    }

    .promo__checks-container picture:nth-child(1) img {
        left: 164%;
    }

    .answer__card {
        gap: 0;
    }

    .promo__check-info {
        position: static;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .types {
        padding: 3rem 0 2rem;
    }

    .promo__check-title {
        font-size: 1.9rem;
    }

    .promo__check-txt {
        font-size: 2rem;
    }

    .exchanges-card {
        width: min(36rem, 100%);
    }

    .exchanges__subtitle {
        text-align: center;
    }

    .exchanges__cards {
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .exchanges__arrows {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        height: 11rem;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin: 0 -1rem;
    }

    .exchanges__arrows img:nth-child(1) {
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .exchanges__arrows img:nth-child(2) {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        width: 7rem;
    }

    .exchanges__arrows img:nth-child(3) {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        width: 7rem;
    }

    .exchanges__arrows img:nth-child(4) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .exchanges__container {
        gap: 2rem;
    }

    .exchanges__imgs {
        width: 26em;
        height: 37em;
    }

    .exchanges__body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .promo .promo__title {
        text-align: center;
    }

    .header__menu {
        width: 80%;
    }

    .promo__description {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 0;
    }

    .promo__title {
        font-size: 4rem;
    }

    .promo__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0 2rem;
    }

    .progress-card__subtitles {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .progress-card__title {
        text-align: center;
    }

    .progress__card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 2rem;
    }

    .types-card__img {
        width: 100%;
        border-radius: 1.25rem;
    }

    .types-card:nth-child(2) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .types__card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        row-gap: 2rem;
    }

    .presentation__list {
        text-align: center;
    }

    .presentation__title {
        text-align: center;
    }

    .platform__body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .advantages-card:not(:nth-child(even)) {
        margin-right: 1rem;
    }

    .advantages__body {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        row-gap: 1rem;
    }

    .advantages-card:nth-child(4) {
        margin-right: 0;
    }

    .versatility {
        padding: 3rem 0;
    }

    .presentation__main-img {
        height: 30rem;
        width: 20rem;
        left: 0;
    }

    .presentation__block {
        position: static;
        width: 18rem;
        padding: 1rem 1.5rem;
        margin-top: -2rem;
        margin-right: 1rem;
    }

    .presentation__container {
        max-width: 55rem;
    }

    .promo__description {
        max-width: inherit;
    }

    .promo__main-img {
        width: 80.5%;
        position: relative;
        top: -1rem;
        z-index: 2;
        margin-left: 4%;
    }

    .promo__checks {
        left: 0;
    }

    .promo__checks-container picture:nth-child(1) img {
        left: 139%;
        width: 62%;
        top: 60%;
    }

    .promo__checks-container picture:nth-child(2) img {
        width: 61%;
        top: 24%;
        left: 21%;
    }

    .promo__checks-container picture:nth-child(3) img {
        left: 118%;
        width: 70%;
        top: 8%;
    }
}

@media screen and (max-width: 47.9rem) {
    .big-button {
        font-size: 1.3rem;
        width: 20rem;
        height: 5rem;
    }

    .promo__title {
        font-size: 3rem;
    }

    .installment__button {
        margin-top: 1.7rem;
    }

    .reviews__container {
        gap: 0.4rem;
    }

    .container {
        padding: 0 1rem;
    }

    .progress__body {
        gap: 1rem;
    }

    .presentation__container {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .progress-card__img {
        width: 10rem;
    }

    .versatility-card:nth-child(2) picture {
        margin-top: 0;
    }

    .default-button {
        width: 17.5rem;
        height: 4.5rem;
    }

    .types-card:nth-child(2) picture {
        -ms-flex-item-align: center;
        align-self: center;
    }

    .types-card__list {
        text-wrap: wrap;
    }

    .types-card picture:nth-child(1) {
        width: 75%;
    }

    .types-card__img {
        height: auto;
    }

    .presentation__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .tariffs {
        padding-bottom: 3rem;
    }

    .tariff__body {
        min-height: auto;
    }

    .tariffs__body {
        grid-template-columns: 1fr;
        width: 60%;
    }

    .advantages {
        padding-top: 3rem;
    }

    .advantages__body {
        row-gap: 2rem;
    }

    .advantages__container {
        gap: 2rem;
    }

    .system__container {
        gap: 2rem;
    }

    .system {
        padding: 2.5rem 0 2.5rem;
    }

    .installment {
        padding: 0;
        padding-bottom: 2rem;
    }

    .programm {
        padding: 4rem 0;
    }

    .exchanges__cards {
        grid-template-columns: 1fr;
    }

    .header__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
    }

    .menu__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        row-gap: 1rem;
    }

    .progress-card__descr {
        gap: 1rem;
    }

    .progress-card__subtitles {
        gap: 1rem;
    }

    .progress__card {
        width: 100%;
        gap: 2rem;
        padding: 2rem;
    }

    .promo__buttons {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .promo__sub-title {
        text-align: center;
    }

    .title {
        font-size: 3rem;
    }

    .promo__button {
        width: 14rem;
    }

    .light {
        z-index: 0;
     }

    .promo__top-title-blocks {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .reviews__body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .installment__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .installment__descr {
        max-width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .installment__banks {
        gap: 1rem;
    }

    .installment__title {
        text-align: center !important;
    }

    .programm-card {
        padding: 2rem;
    }

    .system__body {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .system-card {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .advantages-card:not(:nth-child(even)) {
        margin-right: 0;
    }

    .promo__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .versatility__body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        row-gap: 2rem;
    }

    .types-card__descr {
        padding: 3rem 2.25rem;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: auto;
    }

    .platform-card__img {
        height: 12rem;
    }

    .platform-card__header {
        width: 80%;
        padding: 6rem 3.5rem 2.5rem;
        gap: 0.5rem;
    }

    .progress__title {
        margin-top: 0;
    }

    .progress__container {
        gap: 1rem;
    }

    .progress__scroll {
        margin-top: 0;
    }
}

@media screen and (max-width: 34rem) {
    .tariffs__body {
        width: 100%;
    }
}

@media screen and (max-width: 30rem) {
    .big-button {
        font-size: 1.15rem;
        width: 16rem;
        height: 4.5rem;
    }

    .promo__title {
        font-size: 2rem;
    }

    .advantages__body {
        padding: 0;
    }

    .advantages-card {
        width: 19rem;
    }

    .container {
        padding: 0 0.5rem;
    }

    .progress__body {
        gap: 0.5rem;
    }

    .platform-card__img {
        height: 10rem;
    }

    .progress__card {
        padding: 1rem;
    }

    .platform-card__header {
        width: 100%;
        padding: 4rem 1.5rem 2rem;
    }

    .system-card__footer-button {
        font-size: 0.9rem;
    }

    .default-button {
        width: 13.5rem;
        height: 4rem;
        font-size: 0.9rem;
    }

    .exchanges__imgs {
        font-size: 12px;
    }

    .exchanges__arrows img {
        width: 5rem;
        height: 1rem;
    }

    .exchanges__arrows img:nth-child(2) {
        width: 4rem;
    }

    .exchanges__arrows img:nth-child(3) {
        width: 4rem;
    }

    .types-card picture:nth-child(1) {
        width: 100%;
    }

    .types-card__title {
        font-size: 1.5rem;
    }

    .types-card__descr {
        padding: 2rem 1.5rem;
    }

    .installment__banks {
        gap: 0;
        width: 80%;
    }

    .title {
        font-size: 2.3rem;
    }

    .advantages-card__title {
        font-size: 1.5rem;
    }

    .advantages-card {
        gap: 1rem;
        padding: 1.5rem;
    }

    .advantages-card__header {
        gap: 1rem;
    }

    .menu__list {
        grid-template-columns: 1fr;
    }

    .system-card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .system-card__txt {
        text-align: center;
    }

    .promo__check-title {
        font-size: 0.95rem;
    }

    .promo__check-txt {
        font-size: 1rem;
    }
}